<style>
  .font-rodape {
      font-size: 0.7rem;
  }
</style>
<div class='border-top border-2 text-center'>
  Página <span class="page"></span> de <span class="topage"></span>
  <p class="font-rodape">copy@fulldevs - (85) 9.96879669</p>
</div>
