<style>
  .font-rodape {
      font-size: 0.7rem;
  }
</style>
<div class='border-top border-2 text-center'>
  Página <span class="page"></span> de <span class="topage"></span>
  <p class="font-rodape">
  Rua Placido Macedo Nascimento 738 sala A, Bulandeira – Barbalha-CE, CEP:63180.000 <br>
  CNPJ: 22.975.820/0001-31 E C.G.F: 06.462.721-7<br>
  (88) 99726-7666<br>
  <a href="#" class="card-link">nciconstrutora@hotmail.com</a></p>
</div>
