<style>
  .print_logo {
    width: 500px;
    height: 90px;
  }
    @media print {
       tr:nth-child(even) td {
           background-color: red !important;
            -webkit-print-color-adjust: exact;
       }
    }
</style>
<div class='border-bottom border-2 text-center'>
  meus Relatórios
</div>
<br>
