  
<table class="mt- 5 table table-striped">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @construction.additives.each do |f| %>
      <tr>
        <td><%= l f.data %></td>
        <td><%= number_to_currency(f.valor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
